footer:
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top bg-light">
    <div class="col-md-4 d-flex align-items-center">
        <img src="/assets/img/logos/2.png" alt="Logo" class="mb-3 me-2 mb-md-0" width="80" height="60">
        <span class="text-muted">© 2024 HelpService - ADS 5A ead</span>
    </div>
    <ul class="nav col-md-5 justify-content-end list-unstyled d-flex">
        <li class="nav-item"><a href="/aceite/politica" class="nav-link px-2 text-body-secondary">Políticas de Privacidade</a></li>
        <li class="nav-item"><a href="/aceite/termos" class="nav-link px-2 text-body-secondary">Termos e condições</a></li>
        <li class="nav-item custom-width-last"><a href="/footer/faq" class="nav-link px-2 text-body-secondary" style="width: 120px;">FAQs</a></li>
    </ul>
</footer>